*{
    padding: 0;
    margin: 0;
}
.main {
    background-image: url("assets/img/bg.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box{
    width: 100%;
    opacity: 0.44;
    height: 80vh;
    position: absolute;
    background-color: black;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
}